<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>
 
  <div class="row">
    <div class="col-sm" style="padding: 40px">
      <div class="card w-75">
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="empid">Employee ID</label>
					<input type="text" class="form-control" id="empid"  placeholder="Enter Employee ID" [(ngModel)]="empdat.emp_id" name="empid">
					
				</div>
				<div class="form-group">
					<label for="empname">Employee Name</label>
					<input type="text" class="form-control" placeholder="Enter Employee Name" [(ngModel)]="empdat.emp_name" name="empname">
				</div>
				<button  class="btn btn-primary" (click)="insertData()">Submit</button>
			</form>
			
		<!-- <a href="#" class="btn btn-primary">Button</a> -->
		</div>
		</div>
    </div>
	

	
    <div class="col-sm" style="padding: 40px">
      <ul class="list-group">
		<li class="list-group-item" *ngFor="let emp of emps">
      {{emp.emp_name}}
	  <!-- <span style="margin-left:40;margin-right:50 "><button type="button" class="btn btn-primary btn-sm">Small button</button></span> -->
	  <!-- <span><button type="button" class="btn btn-secondary btn-sm">Small button</button></span> -->
	  <span class="pull-right">
       <span style="padding-left:10px;padding-right:10px"><button class="btn btn-secondary btn-xs" (click)="editData(emp)">Edit</button></span> 
        <button class="btn btn-secondary btn-xs"(click)="deleteData(emp)">Delete</button>
      </span>
    </li>
  </ul>
  
  <!-- <p>{{empdat.emp_name}}</p> -->
    </div>
   
  </div>


